NEXT_PUBLIC_SUPABASE_URL=https://jmmbrgaltmxeldrdtihp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImptbWJyZ2FsdG14ZWxkcmR0aWhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MzA2MDcsImV4cCI6MjEwNDIwNjYwN30.9DeR7dM0Ov1qN7GGmm6xrAJYhj4aZhwrgjh9gczxoq8
